/* 
    @author: tungdd
*/

// Prefix
$el: ".el-";

// Base
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

$font-family-sans-serif: "Montserrat", "Nunito", "Segoe UI", Tahoma, Geneva,
    Verdana, sans-serif;
$font-family-base: $font-family-sans-serif;
$font-family-secondary: "Source Sans Pro", sans-serif;
$font-size-base: 1rem;
$font-size-small: $font-size-base * 1.2;
$font-size-large: $font-size-base * 1.8;

// Color
$white: #fff;
$gray-1: #f1f1f1;
$gray-2: rgb(119, 121, 140);
$black: #000;
$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;

$theme-colors: (
    "white": $white,
    "primary": $blue,
    "danger": $red,
    "warning": $yellow,
    "success": $green,
    "info": $cyan,
    "dark": $black,
    "gray-1": $gray-1,
    "gray-2": $gray-2
);

// Grid
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);

$grid-columns: 12;
$grid-gap-width: 30px;

// Container max-width
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1170px
);

// Spacer
$spacers: (
    0: 0,
    5: 0.5rem,
    10: 1rem,
    15: 1.5rem,
    20: 2rem,
    30: 3rem,
    35: 3.5rem,
    50: 5rem,
    60: 6rem,
    90: 9rem,
    100: 10rem
);

// Font size
$fonts: (
    12: 1.2rem,
    14: 1.4rem,
    16: 1.6rem,
    20: 2rem,
    27: 2.7rem,
    45: 4.5rem
);
