// Make element with BEM
@mixin make-element($name) {
    @at-root #{&}__#{$name} {
        @content;
    }
}

// Make modifier with BEM
@mixin make-modifier($name) {
    @at-root #{&}--#{$name} {
        @content;
    }
}

// Make class element
@mixin make-class($name) {
    #{$name} {
        @content;
    }
}

// Return breakpoint min of grid breakpoint
@function breakpoint-min($name, $grids: $grid-breakpoints) {
    $min: map-get(
        $map: $grids,
        $key: $name
    );
    @return if($min != 0, $min, null);
}

// Return name breakpoint <=> prefix
@function breakpoint-prefix($name, $grids: $grid-breakpoints) {
    @return if(breakpoint-min($name, $grids) != null, "-#{$name}", "");
}

// Make media query min-width
@mixin make-media-query($name, $grids: $grid-breakpoints) {
    $min: breakpoint-min($name, $grids);
    @if $min {
        @media (min-width: $min) {
            @content;
        }
    }
}

// Return direction value
@function get-direction($name, $directions: $directions) {
    @return map-get($map: $directions, $key: $name);
}
