// Render property background-color
@mixin render-background($value) {
    background-color: $value !important;
}

// Render property color
@mixin render-text-color($value) {
    color: $value !important;
}

@mixin initBackgroundColor($name) {
    @include make-class($name) {
        background-color: $white;
        @each $color, $value in $theme-colors {
            @include make-element($color) {
                @include render-background($value);
            }
        }
    }
}

@mixin initTextColor($name) {
    @include make-class($name) {
        color: $black;
        @each $color, $value in $theme-colors {
            @include make-element($color) {
                @include render-text-color($value);
            }
        }
    }
}

@include initBackgroundColor("#{$el}bg");
@include initTextColor("#{$el}text");
