// Render property container
@mixin render-container($gap: $grid-gap-width) {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: $gap / 2;
    padding-right: $gap / 2;
}

// Render container max-width
@mixin render-container-max-width() {
    @each $breakpoint, $max-width in $container-max-widths {
        @include make-media-query($breakpoint) {
            max-width: $max-width;
        }
    }
}

@mixin initContainer($name) {
    @include make-class($name) {
        @include render-container();
        @include render-container-max-width();
    }
}

@mixin initContainerFluid($name) {
    @include make-class($name) {
        @include render-container();
    }
}

@include initContainer("#{$el}container");
@include initContainerFluid("#{$el}container-fluid");
