$flexs: (
    "center": center,
    "end": flex-end,
    "start": flex-start,
    "between": space-between,
    "around": space-around
);
@mixin make-flex-property($el: $el, $grids: $grid-breakpoints) {
    @each $prop, $val in $flexs {
        #{$el}jus__#{$prop} {
            justify-content: $val !important;
        }
        #{$el}align__#{$prop} {
            align-items: $val !important;
        }
    }
    @each $breakpoint in map-keys($grids) {
        @include make-media-query($breakpoint, $grids) {
            $prefix: breakpoint-prefix($breakpoint, $grids);
            @each $prop, $val in $flexs {
                #{$el}jus#{$prefix}__#{$prop} {
                    justify-content: $val !important;
                }
                #{$el}align#{$prefix}__#{$prop} {
                    align-items: $val !important;
                }
            }
        }
    }
}

@include make-flex-property();
